<!DOCTYPE html>
<html lang="en">
<title>Trip Planner - {% block title %}{% endblock %}</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets go here! -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link href="/stylesheets/shoestring.css" rel="stylesheet">
    <script src="../jquery/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!--<div class="container">-->
        <!--<div class="nav navbar-nav navbar-left">
            </div>-->
        <!--<div class="navbar-header">
                <a class="navbar-brand" href="/">Trip Planner</a>
            </div>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Trip Planner</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!--</div>-->
        <!-- /.container -->
    </nav> {% block content %} {% endblock %}

    <!-- Script tags go here! -->
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -34.397,
                    lng: 150.644
                },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl7W2kkBi-jWjyKDanFWTM_lqD_AKQN70&callback=initMap" async defer></script>

</body>

</html>