
@mixin sizeCols($size) {
	@for $i from 1 through 12 {
	  .col-#{$size}-#{$i} { 
	  	padding: 15px;
	  	width: 100% * $i/12; 
	  	float: left;
	  }
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
@include sizeCols("sm");

}

/* Medium screens (landscape) ----------- */
@media screen and (min-width : 480px)
and (max-width : 960px) {
/* Styles */
@include sizeCols("md");
}

/* Large screens (portrait) ----------- */
@media screen and (min-width : 960px) {
/* Styles */
@include sizeCols("lg");
}