// #app {
//     clear: both;
// }
// #map {
//     // clear: both;
//     // float: left:
// }
// #rightSection {
//     // clear: both;
//     // flo
// }
body {
    padding-top: 60px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.row {
    overflow: inherit;
}

.panel {
    clear: both;
    padding: 1em;
}

// #searchFields {
//     background-color: lightseagreen;
// }
#map {
    height: 70vh;
}

// select {
//     /* only works in webkit-compatible browsers */
//     -webkit-appearance: menulist-button;
// }