@import "normalize";
@import "modern-business";
* {
    box-sizing: border-box;
}

@import "navbar";
#rightSection {
    float: right;
}

body {
    h1 {
        color: black;
    }
}

ol {
    margin: none;
    padding: 10px;
    list-style: none;
    background-color: #e6dde6;
}

.active {
    color: gray;
}

li {
    display: inline;
}

small {
    color: grey;
}

.lead div {
    padding: 0px;
}

.section {
    padding: 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
}

.row {
    padding: 15px;
    clear: both;
    overflow: hidden;
}

.section-colored {
    clear: left;
}

.lead {
    padding: none;
}

.text-center {
    text-align: center;
}

.form-group {
    display: block;
}

.img-responsive {
    float: left;
}

label {
    float: left;
    clear: left;
}

input {
    width: 100%;
    float: left;
    clear: left;
}

textarea {
    width: 100%;
    float: left;
    clear: left;
}

button {
    background-color: #39a9e0;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: #39a9e0;
}

img {
    width: 100%;
}

@import 'media-queries';